<!-- templates/end.html -->
<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Fin</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="bg">
  <main class="center">
    <div class="card small">
      <h1>🎉 Bravo {{ winner }} ! 🎉</h1>
      <p>Tu as gagné la partie.</p>
      <div style="margin-top:12px;">
        <a class="btn primary" href="{{ url_for('index') }}">Rejouer</a>
      </div>
    </div>
  </main>
</body>
</html>
